body{
  margin: 100;
  padding: 100;
  font-size: 12px;
  font-family: 'Rubik', sans-serif;
  background-color: #A5A19A;
  color: #131517;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
li {
  float: left;
  border-right: 1px solid black;
}
li:last-child{
  border-right: none;
}
li a{
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.block{
  background-color: white;
}
